<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <p>Auto-resizing sidenav</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    <button mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <mat-toolbar color="primary">
    <span class="pr-2">Prudential</span> | <p class="mb-0 pl-2" style="font-size: 0.7em !important;">participant</p> 
  </mat-toolbar>

</mat-drawer-container> -->


<mat-sidenav-container
    class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <a *ngFor="let nav of navList" [class.active]="nav === selectNav" (click)="selectNav = nav" mat-list-item>{{nav}}</a>
      
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <img src="../assets/logo.png" alt="" srcset="" height="30rem" class="pl-5 pr-4"> | <p class="mb-0 mt-1 pl-3" style="font-size: 0.7em !important;">participant</p> 
    </mat-toolbar>
    <div class="col-md-12 col-sm-12 col-xs-12">
    
      <div class="row mt-4 mx-5">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1>Your Goals</h1>
        </div>
        <!-- <div class="col-md-12 col-sm-12 col-xs-12 pl-5"> -->
          <div class="col-md-4 my-3">
            <app-goal-card></app-goal-card>
          </div>
          <div class="col-md-4 my-3">
             <app-goal-card></app-goal-card>
          </div>
          <div class="col-md-4 my-3">
            <app-goal-card></app-goal-card>
          </div>
        <!-- </div> -->
<!-- <canvas id="myChart" width="400" height="400"></canvas> -->
<canvas *ngIf="true" ngChartjs [datasets]="lineChartData" [labels]="lineChartLabels"
    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
    [chartType]="lineChartType" [adding]="updateData" [removing]="removing"
    ></canvas>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
